* {
    background-image: none;
    box-shadow: none;
    margin: 30px;
    font-family: Roboto;
}

window {
    background-color: rgba(41, 41, 41, 0.8);
}

button {
    border-radius: 15px;
    border-color: #ffffff;
    font-size: 16px;
    text-decoration-color: #ffffff;
    color: #ffffff;
    background-color: rgb(25, 25, 25);
    border-style: solid;
    border-width: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

button:focus, button:active, button:hover {
    /* 20% Overlay 2, 80% mantle */
    background-color: rgb(80, 80, 80);
    outline-style: none;
}

#lock {
    background-image: url("./icons/lock.svg");
}

#logout {
    background-image: url("./icons/logout.svg");
}

#suspend {
    background-image: url("./icons/suspend.svg");
}

#hibernate {
    background-image: url("./icons/hibernate.svg");
}

#shutdown {
    background-image: url("./icons/shutdown.svg");
}

#reboot {
    background-image: url("./icons/reboot.svg");
}
